html {
    position: relative;
    /* scroll-behavior: smooth; */
}

/* body {
    margin-bottom: 100px;
    margin-top: 30px;
} */

/* .jumbotron {
    padding-top: 5rem;
} */

hr{
    width: 250px;
    border-top: 3px solid #999;
}

.about {
    min-height: 500px;
}

.portfolio{
    background-color: #eee;
}

.contact {
    min-height: 800px;
}

footer {
    background-color: #333;
}

footer p{
    color: #aaa;
    font-size: 0.9em;
}

footer p i{
    color: salmon;
}

